html {
box-sizing: border-box;
}
 
*,
*::before,
*::after {
-webkit-box-sizing: inherit;
box-sizing: inherit;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
white-space: nowrap;
-webkit-clip-path: inset(100%);
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;	
}

/*/////////////////////////////////*/
.container {
	display: flex;
	width: 1200px;	
}


.wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/*.big-col {
	display: flex;
}

.small-col {
	display: 
}*/
/*/////////////////////////////////*/

.page,
.inner-page {
	min-width: 1200px;
	padding: 0 40px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	
	background-color: #f2f2f2;

}





/*.header {
	display: flex;
}*/

.main-nav {
	
	display: flex;
	align-items: center;

	width: 100%;
	padding: 0 73px;
	min-height: 56px;
	position: relative;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.nav-list {
	display: flex;
	justify-content: space-between;

	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;

	/*display: flex;*/
}

.nav-item {
	
}

.nav-link {
	color: #000000;
}

.nav-link-current {
	color: #766357;
}

.nav-link:hover {
	color: #81b3d2;
}

.nav-link:active {
	color: #b2b2b2;
}

.logo-link {
	position: absolute;
	top: 0;
	left:530px;
}



/*////////////////////////////////////////*/
.welcome {
	width: 1200px;
	min-height: 509px;
	padding-top: 76px;
	padding-bottom: 79px;
	background-color: #dbe9f2; 
	background-image: url(../img/background-main.jpg);
	background-position: top;
	background-repeat: no-repeat;	
}

.welcome-text {
	display: block;
	width: 459px;
	margin: 0 auto;
	/*76 79*/
}

.welcome::after {

}

/*.polygon {
	background-image: url(../img/polygon.svg);
}*/

/*////////////////////////////////////////*/
.reason {
	display: flex;
	/*flex-direction: */
	background-color: #ffffff;
}

.intro-title {
	text-align: center;
	font-size: 21px;	
	line-height: 26px;
	color: #000000;
}

.intro-sub-title {
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
}

.reasons-list {
	margin: 0;
	padding: 0;	
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	list-style:none;
}

.reason-item {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	
	
}

.reason-title {
	font-size: 21px;
	line-height: 21px;	
	color: #000000;
}

.reason-number {
	font-size: 14px;
	line-height: 21px;	
	font-weight: 400;
	color: #000000;
}

.reason-text {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.reason-item-blue .reason-title {
	font-size: 21px;
	line-height: 21px;	
	color: #ffffff;
}

.reason-item-blue .reason-text,
.reason-item-blue .reason-number {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.reason-item-blue .reason-info{
	background-color: #81b3d2;
	color: #ffffff;
}

.reason-item-grey {
	display: block;
	width: 400px;
	/*min-height: 256px;*/
	padding: 50px auto;
	background-color: #eeeeee;
}

.reason-info {
	width: 400px;
}



/*////////////////////////////////////////*/
.feature-list {
	margin: 0;
	padding: 0;
	display: flex;	
	list-style: none;
	
}

.feature-item	{
	width: 400px;
	min-height: 330px;
	text-align: center;
	background-color: #ffffff;
}

.feature-title {
	font-size: 21px;
	line-height: 21px;	
	color: #000000;
}

.feature-text {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}


/*/////////////////////////////////////////*/
.search {
	text-align: center;
	background-color: #ffffff;
}

.search-title {
	font-size: 30px;
	line-height: 36px;
}

.search-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
}

.button-popup {
	display: inline-block;
	margin: 0 auto;
	width: 575px;
	padding: 32px 0;
	font: inherit;
	/*text-transform: uppercase;*/
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
	border: none;
}

.button-popup:hover {
	background-color: #604e43;
}

.button-popup:active {
	background-color: #503e33;
	color: #857871;
}

/*////////////////////////////////////////*/
.map {
	min-height: 473px;
	background-color: #cbdda9;
	background-image: url(../img/map.jpg);
}


.search-form {
	margin: 0 auto;
	width: 575px;	
	padding: 55px;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);

}

.input-date,
.amount-input {
	width: 346px;
	font:inherit;

}



.search-btn {
	font: inherit;
	/*font-size: 21px;
	line-height: 26px;*/
	color: #ffffff;
	background-color: #81b3d2;
}

.search-btn:hover {
	background-color: #669ec0;
}

.search-btn:active {
	background-color: #5496bd;
	color: #88b6d1;
}

/*////////////////////////////////////////*/
.footer {
	display: flex;
	align-items: center;
	min-height: 120px;
	padding: 0 73px;
	background-color: #ffffff;
}

.visit {
	width: 240px;
	color: #000000;
}

.visit:hover {
	color: #81b3d2;
}

.visit:active {
	color: #b2b2b2;
}

.social-list {
	display: flex;
	justify-content: space-between;
	min-width: 150px;
	margin: 0 212px;
	padding: 0;
	list-style: none;
}

.social-item {
	

	background-color: #81b3d2;

}

.social-item:hover {
	background-color: #669ec0;
}

.social-item:active {
	background-color: #5496bd;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
}


.academy-container {
	display: flex;
	
	align-items: center;
	width: 240px;
}

.by {
	font-size: 14px;
	line-height: 26px;
	margin-left: 15px;
	margin-right: 8px;
	color: #000000;
	font-weight: 400;
}

.academy-logo {
	vertical-align: middle;
}

.academy-logo path{
	fill: #000000;
}

.academy-logo:hover path{
	fill: #81b3d2;
}

.academy-logo:active path{
	fill: #bdbbbc;
}


/*

Страница отелей

*/


.filter {
	display: flex;

	padding:31px 73px;
	min-height: 217px;

	background-image: url(../img/background-hotels.jpg);
	background-color: #81b3d2;
	background-repeat: no-repeat;
	background-position: center;

}

.filter-title {
	margin: 0;
	padding: 0;
	margin-bottom: 26px;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

.filter-text {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.filter-group {
	/*display: flex;*/
	/*flex-direction: column-reverse;*/
	/*justify-content: space-between;*/
	margin: 0;
	padding: 0;
	border: none;
}

.filter-row {
	/*min-height: 23px;*/
	margin-bottom: 23px;

}

.column-1 {
	margin-right: 114px;
}

.column-3 {
	margin-left: auto;
}


/*/////////////////////////////////*/
.range {
  width: 318px;
  padding: 0;
  border: none;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}

.range-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.range-controls {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 32px;
  margin-top: 9px;
  margin-bottom: 54px;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 2px;
}

.range-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: hsl(0, 0%, 100%);
  transform: translate(-50%, -50%);
}

.range-label {
  font-size: 14px;
  line-height: 32px;
}

.range-label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 32px;
}

.range-label-min::before {
  left: 0;
}
.range-label-max::before {
  right: 0;
}

.range-scale {
  position: absolute;
  bottom: -22px;
  width: 100%;
  height: 2px;
  background: hsla(0, 0%, 100%, 0.3);
}

.range-bar {
  position: absolute;
  /* Здесь и далее расчёты в calc() для понимания, откуда цифры */
  left: calc(100% * 0 / 5000);
  right: calc(100% * (5000 - 3000) / 5000);
  height: 2px;
  background: hsl(0, 0%, 100%);
}

.range-lever {
  box-sizing: border-box;
  position: absolute;
  bottom: -32px;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: hsl(0, 0%, 67%);
  border: 8px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 hsla(0, 0%, 0%, 0.2);
  cursor: grab;
}

.range-lever:active {
  cursor: grabbing;
}

.range-lever:hover {
  background: hsl(209, 64%, 31%);
}

.range-lever-min {
  left: calc(100% * 0 / 5000 - 20px / 2);
}

.range-lever-max {
  left: calc(100% * 3000 / 5000 - 20px / 2);
}

.range-input:focus + .range-lever {
  box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0.5);
}

.btn-transparent {
  display: block;
  padding: 6px 30px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: hsl(0, 0%, 0%);
  background: hsl(0, 0%, 100%);
}

.btn-transparent:focus::-moz-focus-inner {
  border: 0;
}
/*/////////////////////////////////*/


.sort {
	display: flex;
	align-items: center;
	padding: 0 73px;
	width: 100%;
	min-height: 86px;
	background-color: #ffffff;
}

.sort-column {
	display: flex;

}

.found {
	display: inline-block;
	margin-right: 49px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;	
}

.found-title {
	margin-right: 43px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.found-list {
	display: flex;
	justify-content: space-between;
	width: 249px;
	margin: 0;
	padding: 0;
	list-style: none;

}

.found-link {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #c6c6c6;
	border-bottom: 1px dotted #81b3d2;
}

.found-link:hover {
	color: #81b3d2;
}

.found-link:active {
	color: #000000;
	border: none;
}

.found-link-active {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #81b3d2;
	border:none;
}


.arrows-container {
	margin-left: auto;
}

.arrow-up {
	background-image: url(../img/arrow-up.svg);
	/*background-position: center;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;*/
}

.arrow-down {
	background-image: url(../img/arrow-down.svg);
}

/*/////////////////////////*/
.hotels {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hotels-item {
	display: flex;
	/*align-items: stretch;*/
	/*align-items: center;*/
	padding: 30px 73px;
	background-color: #ffffff;
	border-top: 1px solid #e5e5e5;
}

.hotels-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.hotels-img {
	margin-right: 30px;
}

.hotels-desc h2{
	margin: 0;
	
}

.hotels-desc {
	display: flex;
	width: 258px;
	flex-direction: column;
}

.hotels-link {
	display: block;
	
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}


.hotels-text {
	margin-right: 39px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}



.hotels-rating-container {
	margin-left: auto;
}

.stars {
	display: block;
	width: 90px;
	min-height: 17px;
	background-image: url(../img/star.svg);
	background-repeat: repeat-x;
	backg
}

.rating {       
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666666;
	background-color: #f2f2f2;
}

.hotels-action-container {
	display: flex;
	justify-content: space-between;
	width: 258px;
}

.hotels-info {
	display: block;
	/*width: 110px;*/
	min-height: 27px;
	padding: 7px 17px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-color: #81b3d2;
}

.hotels-info:hover {
	background-color: #669ec0;
}

.hotels-info:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.hotels-lock {
	display: block;
	/*width: 110px;*/
	min-height: 27px;
	padding: 7px 17px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-color: #766357;
}

.hotels-lock:hover {
	background-color: #604e43;
}

.hotels-lock:active {
	background-color: #503e33;
	color: #857871;
}

.hotels-link:hover {
	color: #81b3d2;
}

.hotels-link:active {
	color: #b2b2b2;
}



