html {
box-sizing: border-box;
}
 
*,
*::before,
*::after {
-webkit-box-sizing: inherit;
box-sizing: inherit;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
white-space: nowrap;
-webkit-clip-path: inset(100%);
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;	
}

/*/////////////////////////////////*/
.container {
	display: flex;
	width: 1200px;	
}


.wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


/*/////////////////////////////////*/

.page,
.inner-page {
	min-width: 1200px;
	padding: 0 40px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	
	background-color: #f2f2f2;

}


.main-nav {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.nav-list {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-item {
	display: flex;
	justify-content: center;
	width: 20%;
}

.nav-item:nth-child(1) {
	text-align: left;	
	padding-right: 5px;
}

.nav-item:nth-child(2) {
	text-align: left;
	margin-right: 20%;
	padding-left: 1px;
}

.nav-item:nth-child(3) {
	text-align: right;
}

.nav-item:nth-child(4) {
	text-align: right;
	padding-left: 15px;
}

.nav-link {
	color: #000000;
}

.nav-link-current {
	color: #766357;
}

.nav-link:hover,
.nav-link:focus {
	color: #81b3d2;
}

.nav-link:active {
	color: #b2b2b2;
}

.logo-link {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -70px;
	z-index: 2;
}



/*////////////////////////////////////////*/
.welcome {
	width: 1200px;
	min-height: 509px;
	padding-top: 76px;
	position: relative;
	background-color: #dbe9f2; 
	background-image: url(../img/background-main.jpg);
	background-position: 0 -56px;
	background-repeat: no-repeat;	
}
.welcome-text {
	display: block;
	width: 459px;
	margin: 0 auto;
}

.welcome::after {
	content: "";
	width: 100%;
	height: 59px;
	position: absolute;
	bottom: -2px;
	background-image: url(../img/polygon.svg);
}



/*////////////////////////////////////////*/
.reason {
	display: flex;
	background-color: #ffffff;
}



.intro {
	min-height: 215px;
	padding-top: 59px;
}

.intro-title {
	margin: 0;
	padding: 0;
	margin: 0 auto;
	width: 442px;
	margin-bottom: 27px;

	text-align: center;
	font-size: 21px;	
	line-height: 26px;
	color: #000000;
}

.intro-sub-title {
	margin: 0;
	padding: 0;
	margin: 0 auto;
	padding-right: 5px;
	min-width: 493px;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
}

.reasons-list {
	margin: 0;
	padding: 0;	
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	list-style:none;
}

.reason-item {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	
	
}

.reason-title {
	margin: 0;
	padding: 0;
	width: 151px;	
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	font-size: 21px;
	line-height: 21px;	
	color: #000000;
}

.reason-number {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 21px;	
	font-weight: 400;
	color: #000000;
}

.reason-text {
	margin: 0;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 20px;
	align-items: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.reason-text-1 {
	width: 300px;
}

.reason-text-2 {
	width: 310px;
}

.reasont-text-3 {
	width: 210px;
}

.reasont-text-4 {
	width: 266px;
}

.reasont-text-5 {
	width: 250px;
}


.reason-item-blue .reason-title {
	font-size: 21px;
	line-height: 21px;	
	color: #ffffff;
}

.reason-item-blue .reason-text,
.reason-item-blue .reason-number {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.reason-item-blue .reason-info{
	background-color: #81b3d2;
	color: #ffffff;
}

.reason-item-grey {
	display: block;
	width: 400px;
	padding-top: 47px;
	padding-bottom: 39px;
	background-color: #eeeeee;
}

.reason-info {
	padding-top: 47px;
	width: 400px;
}



/*////////////////////////////////////////*/
.feature-list {
	margin: 0;
	padding: 0;
	display: flex;	
	list-style: none;
	
}

.feature-item	{
	padding-top: 37px;
	width: 400px;
	min-height: 330px;
	text-align: center;
	background-color: #ffffff;
}

.feature-title {
	margin: 0;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 24px;
	padding-top: 124px;
	width: 102px;
	position: relative;
	text-align: center;
	font-size: 21px;
	line-height: 21px;	
	color: #000000;
}

.feature-title-house::before {
	content: "";
	width: 75px;
	height: 72px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -37px;
	background-image: url(../img/icon-1.svg);
}

.feature-title-food::before {
	content: "";
	width: 74px;
	height: 70px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -37px;
	background-image: url(../img/icon-2.svg);
}

.feature-title-souv::before {
	content: "";
	width: 64px;
	height: 75px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -32px;
	background-image: url(../img/icon-3.svg);
}


.feature-text {
	margin: 0;
	padding: 0;
	margin: 0 auto;
	width: 300px;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}


/*/////////////////////////////////////////*/
.search {
	padding-top: 50px;
	text-align: center;
	background-color: #ffffff;
}

.search-title {
	display: inline-block;
	margin-bottom: 24px;
	font-size: 30px;
	line-height: 36px;
	font
}

.search-text {
	padding: 0;
	margin: 0;
	margin-bottom: 47px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
}

.button-popup {
	display: block;
	margin: 0 auto;
	width: 570px;
	padding: 30px 10px;
	font: inherit;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
	border: none;
}

.button-popup:hover,
.button-popup:focus {
	background-color: #604e43;
}

.button-popup:active {
	background-color: #503e33;
	color: #857871;
}

/*////////////////////////////////////////*/
.map {
	min-height: 473px;
	background-color: #cbdda9;
	background-image: url(../img/map.jpg);
}


.search-form {
	margin: 0 auto;
	padding: 55px 0;
	width: 570px;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);

}

.input-container {
	width: 458px;
	margin: 0 auto;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 29px;
}

.label-date,
.label-amount {
	width: 95px;
	margin-right: 18px;
}



.container-adult {
 	display: flex;
 	align-items: center;
	width: 226px;
 }

 .container-child {
 	display: flex;
 	align-items: center;
	margin-left: auto;
 }

 .container-child .label-amount {
 	text-align: right;
 }

 .container-child .label-amount {
 	margin-right: 24px;
 	padding-right: 3px;
 }


.input-date,
.amount-input {
	width: 346px;
	height: 38px;
	font:inherit;
	text-transform: uppercase;
	background-color: #f2f2f2;
	border: none;
}

.input-date {
	padding-right: 40px;
	padding-left: 11px;
}

.amount-input {
	width: 38px;
	height: 38px;
	padding-left: 14px;
}

.input-date:hover {
	background-color: #ebebeb;
}

.input-date:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}

.btn-calendar {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 8px;
	right: 9px;
	background: transparent;
	border: none;
}

.btn-calendar path,
.btn-calendar rect {
	fill: #a9a9a9
}


.btn-calendar:hover path,
.btn-calendar:hover rect,
.btn-calendar:focus path,
.btn-calendar:focus rect {
	fill: #000000;
}

.btn-calendar:active path,
.btn-calendar:active rect {
	fill: #81b3d2;
}

 

.btn-minus {
padding: 0;
margin: 0;	
width: 38px;
height: 38px;
position: relative;
background: #f2f2f2;
border: none;
}

.btn-minus::before {
content: "";
width: 12px;
height: 3px;
position: absolute;
top: 18px;
left: 13px;
background-color: #a9a9a9;
}

.btn-plus {
padding: 0;
margin: 0;   
width: 38px;
height: 38px;
position: relative;            
background: #f2f2f2;
border: none;
}

.btn-plus::before {
content: "";
width: 12px;
height: 3px;
position: absolute;
top: 18px;
left: 13px;
background-color: #a9a9a9;
}

.btn-plus::after {
content: "";
width: 12px;
height: 3px;
position: absolute;
top: 18px;
left: 13px;
background-color: #a9a9a9;
transform: rotate(90deg);
}

.btn-minus:hover::before,
.btn-minus:focus::before,
.btn-plus:hover::before,
.btn-plus:focus::before,
.btn-plus:hover::after,
.btn-plus:focus::after {
	background-color: #000000;
}

.btn-minus:active::before,
.btn-plus:active::before,
.btn-plus:active::after {
background-color: #81b3d2;
}

.btn-calendar:active path,
.btn-calendar:active rect {
fill: #81b3d2;
}

.amount-input:hover {
background-color: #ebebeb;
}

.amount-input:focus {
background-color: #ffffff;
outline: 2px solid #e5e5e5;
}

.search-btn {
display: block;
margin: 0 auto;
width: 458px;
height: 58px;
margin-top: 54px;
font: inherit;
font-size: 21px;
line-height: 26px;
font-weight: 600;
text-transform: uppercase;
color: #ffffff;
background-color: #81b3d2;
border: none;
}

.search-btn:hover,
.search-btn:focus {
background-color: #669ec0;
}

.search-btn:active {
background-color: #5496bd;
color: #88b6d1;
}

/*////////////////////////////////////////*/
.footer {
	display: flex;
	min-height: 120px;
	padding: 35px 73px;
	background-color: #ffffff;
}

.visit {
	width: 136px;
	margin-left: 60px;
	margin-right: 256px;
	padding: 11px 0;
	color: #000000;
}

.visit:hover,
.visit:focus {
	color: #81b3d2;
}

.visit:active {
	color: #b2b2b2;
}

.social-list {
	display: flex;
	justify-content: space-between;
	min-width: 150px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.social-item {
	width: 46px;
	height: 48px;
	background-color: #81b3d2;

}

.social-item:hover,
.social-item:focus {
	background-color: #669ec0;
}

.social-item:active {
	background-color: #5496bd;
}

.social-item:active path{
	fill: #88b6d1;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
}


.academy-container {
	display: flex;
	margin-left: auto;
	align-items: center;
	width: 240px;
}

.by {
	font-size: 14px;
	line-height: 26px;
	margin-left: 15px;
	margin-right: 8px;
	padding-bottom: 5px;
	color: #000000;
	font-weight: 400;
}

.academy-logo {
	padding-top: 2px;
}

.academy-logo path,
.academy-logo rect{
	fill: #000000;
}

.academy-logo:hover path,
.academy-logo:hover rect,
.academy-logo:focus path,
.academy-logo:focus rect{
	fill: #81b3d2;
}

.academy-logo:active path,
.academy-logo:active rect{
	fill: #bdbbbc;
}


/*

Страница отелей

*/


.filter {
	display: flex;
	padding: 23px 72px;
	min-height: 217px;
	padding-top: 27px;
	background-image: url(../img/background-hotels.jpg);
	background-color: #81b3d2;
	background-repeat: no-repeat;
	background-position: 0 -56px;
}

.filter-title {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

.filter-text {
	position: relative;
	padding-left: 41px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.filter-group {
	margin: 0;
	padding: 0;
	border: none;
}

.filter-row {
	display: flex;
  margin-bottom: 25px;
}

.filter-group .filter-row:last-child {
	margin-bottom: 0;
}

.column-1 {
	width: 154px;
	margin-right: 100px;
}

.column-2 {
	width: 143px;
}

.column-3 {
	margin-left: auto;
}

.checkbox-indicator {
	margin: 0;
	padding: 0;
	width: 27px;
	height: 23px;	
	position: absolute;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.filter-checkbox:checked + .checkbox-indicator {
	margin: 0;
	padding: 0;
	width: 27px;
	height: 23px;	
	position: absolute;
	/*left: 10px;*/
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
}

.filter-checkbox:checked + .checkbox-indicator {
	margin: 0;
	padding: 0;
	width: 27px;
	height: 23px;	
	position: absolute;
	/*left: 10px;*/
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
}

.filter-checkbox:disabled + .checkbox-indicator {
	margin: 0;
	padding: 0;
	width: 27px;
	height: 23px;	
	position: absolute;
	background-image: url(../img/checkbox-off-dis.svg);
	background-repeat: no-repeat;
}

.filter-checkbox:checked:disabled + .checkbox-indicator {
	margin: 0;
	padding: 0;
	width: 27px;
	height: 23px;	
	position: absolute;
	background-image: url(../img/checkbox-on-dis.svg);
	background-repeat: no-repeat;
}


/*/////////////////////////////////*/

.filter-range .filter-title {
	margin-left: 11px;
	margin-bottom: 0;
}

.visually-hidden:not(:focus):not(:active) {
    overflow: hidden;
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
  }

  .filter-group .filter-price {
    width: 328px;
    min-height: 167px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    border: none;
  }

  .filter-range {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 328px;
    height: 159px;
  }

  .filter-range .filter-range-title {
    margin: 0;
    margin-left: 12px;
    margin-bottom: -4px;
    padding-top: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-weight: bold;
    color: #ffffff;
  }

  .filter-price .price-controls {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-around;
    width: 317px;
    height: 35px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .filter-price .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 65px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 7px;
    width: 328px;
    margin-top: -3px;
  }

	


  .price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .price-controls label {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    cursor: pointer;
  }

  .price-controls .min-price {
    width: 115px;
    padding-left: 42px;
  }

  .price-controls .max-price {
    width: 110px;
    padding-left: 29px;
  }

  .price-controls input {
    width: 50px;
    margin: 0;
    color: #ffffff;
    border: none;
    background-color: transparent;
  }

  .range-controls {
    position: relative;
  }

  .range-controls .scale {
    height: 2px;
    width: 318px;
    background: rgba(255, 255, 255, 0.3);
  }

  .range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
  }

  .range-toggle {
    position: absolute;
    top: -9px;
    width: 21px;
    height: 20px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }

  .range-toggle-max {
    left: 80%;
  }

  .range-toggle:hover,
  .range-toggle:focus {
    width: 22px;
    height: 21px;
  }

  .filter-price .filter-btn {
    display: inline-block;
    vertical-align: top;
    width: 137px;
    min-height: 38px;
    margin: 0 auto;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font: inherit;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
  }

  .filter-price .filter-btn:hover,
  .filter-price .filter-btn:focus {
    color: #000000;
    background-color: #ffffff;
  }
/*/////////////////////////////////*/


.sort {
	display: flex;
	/*align-items: center;*/
	padding: 0 73px;
	padding-top: 29px;
	width: 100%;
	min-height: 86px;
	background-color: #ffffff;
}

.sort-column {
	display: flex;

}

.found {
	padding:0;
	margin: 0;
	width: 120px;
	margin-right: 43px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;	
}

.found output {
	margin: 0;
	padding: 0;
}

.found-title {
	padding-top: 8px;
	margin-right: 40px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.found-list {
	display: flex;
	/*width: 249px;*/
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	list-style: none;
}

.found-item {
	margin: 0;
	padding: 0;
	margin-right: 32px;
}

.found-link {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #c6c6c6;
	border-bottom: 1px dotted #81b3d2;
}

.found-link:hover,
.found-link:focus {
	color: #81b3d2;
}

.found-link:active {
	color: #000000;
	border: none;
}

.found-link-active {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #81b3d2;
	border:none;
}


.arrows-container {
	/*min-height: 10px;*/
	display: flex;
	justify-content: space-between;
	width: 34px;
	margin-left: auto;
	min-height: 10px;
}

.arrow-up {
	padding: 0;
	margin: 0;	
	padding-bottom: 2px; 
	border: none;
	background: transparent;
}

.arrow-up polygon {
	fill: #cacaca;
}

.arrow-up:hover polygon,
.arrow-up:focus polygon {
	fill: #000000;
}

.arrow-up:active polygon {
	fill: #81b3d2;
}

.arrow-down {
	padding: 0;
	margin: 0;
	padding-bottom: 2px; 
	border: none;
	background: transparent;
}

.arrow-down polyline {
	fill: #81b3d2;
}

.arrow-down:hover polyline,
.arrow-down:focus polyline {
	fill: #000000;
}


/*/////////////////////////*/
.hotels {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hotels-item {
	display: flex;
	padding: 30px 73px;
	background-color: #ffffff;
	border-top: 1px solid #e5e5e5;
}

.hotels-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.hotels-img {
	margin-right: 30px;
}

.hotels-desc h2{
	margin: 0;	
	padding: 0;
}

.hotels-desc {
	display: flex;
	width: 258px;
	flex-direction: column;
}

.hotels-link {
	display: block;
	margin-top: -5px;
	margin-bottom: 2px;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}


.hotels-text {
	display: inline-block;
	width: 110px;
	/*margin-right: 31px;*/
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}



.hotels-rating-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	margin-left: auto;
}

.stars {
	display: block;
	min-height: 17px;
	margin-top: -1px;
	background-image: url(../img/star.svg);
	background-size: 23px 17px;
}

.stars-1 {
	width: 90px;
}

.stars-2 {
	width: 65px;
}

.stars-3 {
	width: 41px;
}

.rating {   
	display: block;
	width: 110px;
	text-align: center;   
	padding-bottom: 3px; 
	padding-left: 2px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666666;
	background-color: #f2f2f2;
}

.hotels-text-container {
	margin-bottom: 14px;
}

.hotels-action-container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 258px;
}

.hotels-info,
.hotels-lock {
	display: block;
	width: 110px;
	/*min-height: 27px;*/
	padding: 3px 17px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-color: #81b3d2;
}

.hotels-lock {
	background-color: #766357;
	width: 142px;
}

.hotels-info:hover,
.hotels-info:focus {
	background-color: #669ec0;
}

.hotels-info:active {
	background-color: #5496bd;
	color: #88b6d1;
}

/*.hotels-lock {
	display: block;
	width: 110px;
	padding: 3px 17px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-color: #766357;
} */

.hotels-lock:hover,
.hotels-lock:focus {
	background-color: #604e43;
}

.hotels-lock:active {
	background-color: #503e33;
	color: #857871;
}

.hotels-link:hover,
.hotels-link:focus {
	color: #81b3d2;
}

.hotels-link:active {
	color: #b2b2b2;
}



